.page-header {
	background: $off-white;
	padding: $m-size 0;
	margin-bottom: $l-size;
	
	&__title {
		font-weight: 300;
		span {
			font-weight: 700;
		}
	}
	
	&__actions {
		margin-top: $m-size;
	}
}