// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Colors
$white: #fff;
$color-text: #333333;
$black: #000;
$blue: #4885ed;
$green: #3cba54;
$off-white: #f7f7f7;
$gray: #666;
$yellow: #f4c20d;
$red: #db3236;

// Font-size
$font-size-xl: 3.75rem;
$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;